@page "/"
@using Overkill.UI

<h1>Welcome to Overkill.UI</h1>

<div class="ok-card" style="display:flex; align-items:center; gap:1rem;">
    <Spinner Size="3rem" />
    <div>
        <p>Reusable Blazor components with a playful spin.</p>
		<a class="ok-btn ok-btn-outline" href="/components">Open Component Gallery</a>

		<OverkillThemePicker />
    </div>
</div>
