<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overkill.TestHost</title>
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Overkill.TestHost.styles.css"]" />
    <!-- ✅ your custom theme -->
    <link rel="stylesheet" href='@Assets["css/site.css"]' />
	<link rel="stylesheet" href="_content/Overkill.UI/overkill.palettes.css" />
	<link rel="stylesheet" href="_content/Overkill.UI/overkill.theme.css" />
   

    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes  @rendermode="new InteractiveServerRenderMode()"/>
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
